@import "vars";
@import "libs";
@import "parts/footer/footer";
@import "parts/header/header";

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  position: relative;
  line-height: 1.5;
  font-family: $default-font;
  overflow-x: hidden;
  color: $text;

  input, textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

* {
  transition: color .2s, background-color .2s, background .2s, border-color .2s;

  &:hover {
    transition: color .2s, background-color .2s, background .2s, border-color .2s;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $accent;
    text-decoration: none;
  }
}

.main-content {
  background-position: center;
  background-size: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;

  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

.list {
  &__item {
    &--icon {
      position: relative;
      @include adaptive-size(padding-left, 25, 17);

      svg {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-60%);
      }
    }
  }
}

.list-style-none {
  list-style: none;
}

.list-style-arrow {
  list-style: none;

  li {
    position: relative;

    &:before {
      position: absolute;
      content: '\203A';
      left: 0;
      top: 0;
    }
  }
}

.list-inline {
  display: inline-flex;
  flex-wrap: wrap;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-white {
  color: #FFF;
}

b, strong {
  font-weight: bold;
}

.flex-grow-1 {
  flex-grow: 1;
}

.color {
  &--accent {
    color: $accent;
  }
}

.button {
  display: inline-block;
  min-width: 250px;
  text-align: center;
  @include adaptive-size(padding-top, 20, 17);
  @include adaptive-size(padding-bottom, 20, 17);
  @include adaptive-size(padding-left, 50, 30);
  @include adaptive-size(padding-right, 50, 30);
  @include adaptive-size(font-size, 17, 15);
  font-weight: 600;
  border: none;
  cursor: pointer;

  &--white {
    color: $text;
    background: #FFF;

    &:hover {
      color: #FFF;
      background: $accent;
    }
  }

  &--accent {
    color: #FFF;
    background: $accent;

    &:hover {
      color: #FFF;
      background: #2C68C9;
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      @include adaptive-size(margin-left, 20, 15);
    }
  }
}

.custom-input,
.custom-textarea {
  position: relative;
  background: #EBEBEB;

  &:before {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    content: '■';
    color: #5E5E5E;
  }

  input,
  textarea {
    width: 100%;
    @include adaptive-size(padding-top, 20, 15);
    @include adaptive-size(padding-bottom, 20, 15);
    @include adaptive-size(padding-left, 25, 20);
    @include adaptive-size(padding-right, 55, 45);
    @include adaptive-size(font-size, 16, 15);
    font-weight: 300;
    border: none;
    line-height: 1;
    color: #5A606C;
    background: none;
    resize: none;

    &::placeholder {
      @include adaptive-size(font-size, 16, 15);
      font-weight: 300;
      color: #5A606C;
    }
  }

  &--transparent {
    background: transparent;

    &:before {
      color: #FFF;
    }

    input {
      color: #FFF;
      border: 1px solid #FFF;

      &::placeholder {
        color: #FFF;
      }
    }
  }

  &--gray {
    background: #EBEBEB;
  }
}

.custom-textarea {
  &:before {
    top: 15px;
    transform: none;
  }
}

.section-bar {
  width: 65px;
  height: 4px;
  @include adaptive-size(margin-bottom, 30, 20);
  background: $accent;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  &--inline {
    li {

    }
  }

  &--disc {
    li {
      position: relative;
      @include adaptive-size(padding-left, 33, 15);

      &:before {
        position: absolute;
        top: 0.5em;
        left: 0;
        content: '';
        @include adaptive-size(width, 8, 5);
        @include adaptive-size(height, 8, 5);
        background: $accent;
        border-radius: 50%;
      }
    }
  }

  &--check-mark {
    li {
      display: flex;
      align-items: center;
      @include adaptive-size(margin-bottom, 30, 20);
    }

    svg {
      @include adaptive-size(margin-right, 20, 15);
      @include adaptive-size(min-width, 28, 15);
      @include adaptive-size(min-height, 28, 15);
      @include adaptive-size(width, 28, 15);
      @include adaptive-size(height, 28, 15);
    }
  }
}

.custom-tabs {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive-size(margin-bottom, 50, 30);
  }

  &__tabs-wrap {
    flex-grow: 1;
  }

  &__tabs {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: -10px;
  }

  &__tab {
    flex-grow: 1;
    @include adaptive-size(font-size, 17, 15);
    margin-right: 10px;

    &:hover,
    &.active {
      color: #FFF;
      background: $accent;
      border-color: $accent;
    }
  }

  &__arrows {
    display: flex;
    align-items: center;
  }

  &__arrow {
    margin-left: 10px;

    &:hover {
      background: #eaeaea;
    }
  }

  &__tab,
  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    @include adaptive-size(padding-left, 20, 15);
    @include adaptive-size(padding-right, 20, 15);
    text-align: center;
    background: #FCFCFC;
    border: 1px solid #DEEAF3;
    border-radius: 1px;
    cursor: pointer;
  }

  &__contents {

  }

  &__content {
    display: none;

    &:focus {
      outline: none;
    }

    &.active {
      display: block;
    }
  }
}

.contact-form {
  &--free-webinar {
    color: #FFF;

    .contact-form__subtitle {
      @include adaptive-size(font-size, 18, 15);
    }

    .contact-form__content {
      max-width: 600px;
    }

    .iti__country-list {
      color: $text;
    }
  }

  &__wrap {
    @include adaptive-size(padding-top, 60, 70);
    @include adaptive-size(padding-bottom, 60, 70);
    @include adaptive-size(padding-left, 80, 15);
    @include adaptive-size(padding-right, 80, 15);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFF;
    box-shadow: 12px 12px 35px rgba(0, 0, 0, 0.08);
  }

  &__content {
    max-width: 550px;
    padding-right: 55px;
  }

  &__title {
    font-family: $secondary-font;
    @include adaptive-size(font-size, 38, 25);
    @include adaptive-size(margin-bottom, 40, 20);
  }

  &__subtitle {
    margin-bottom: 40px;
    @include adaptive-size(font-size, 20, 15);
  }

  &__arrow {

  }

  &__form {
    max-width: 315px;
  }
}

.modal-contact-form {
  &__content {
    position: relative;
    background: #FFF;
    @include adaptive-size(padding-top, 80, 60);
    @include adaptive-size(padding-bottom, 60, 70);
    @include adaptive-size(padding-left, 50, 15);
    @include adaptive-size(padding-right, 50, 15);
  }

  &__close {
    position: absolute;
    top: 25px;
    right: 25px;
  }

  &__form {

  }

  &__title {
    text-align: center;
    @include adaptive-size(margin-bottom, 25, 20);
    font-family: $secondary-font;
    @include adaptive-size(font-size, 24, 20);
  }
}

.bars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;

  &__bar {
    background: #474B50;
    height: 2px;
    border-radius: 1px;
    transition: opacity .2s, transform .2s;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
    &:nth-child(1) {
      width: 40px;
    }
    &:nth-child(2) {
      width: 25px;
    }
    &:nth-child(3) {
      width: 40px;
    }
  }

  &.active {
    .bars__bar {
      transform-origin: center;
      &:nth-child(1) {
        transform: rotate(45deg) translateY(13.5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-13.5px);
      }
    }
  }
}

.text-block {
  &--right {
    .text-block__wrap {
      flex-direction: row;
    }
  }

  &--left {
    .text-block__wrap {
      flex-direction: row-reverse;
    }

    .text-block__content {
      padding-left: 15px;
    }

    .text-block__image {
      padding-right: 0;
      padding-left: 40px;
    }
  }

  &--with-image {

  }

  &__image {
    padding-right: 40px;
  }

  &__content {
    padding-left: 40px;
    @include adaptive-size(font-size, 18, 15);
  }

  &__title {
    @include adaptive-size(font-size, 44, 25);
    @include adaptive-size(margin-bottom, 40, 20);
    font-family: $secondary-font;
  }

  &__p {
    @include adaptive-size(margin-top, 40, 20);
    @include adaptive-size(margin-bottom, 40, 20);
  }

  &__ul {
    @include adaptive-size(margin-top, 40, 20);
    color: #424257;
  }
}

@import "media"; // Always at the end
